<%- include ("topo") %>
<form action='/usuariosCadastrados' method='post'>
    Nome do usuário: <input type='text' name='nomeUsuario' id='nomeUsuario'>
    <br>
<br> <input type='submit' value='Enviar'>
</form>
<%- include ("rodape") %>