<%- include("topo") %>
    <form action='/insereUsuario' method='post'>
        Login do usuário: <input type='text' name='login' id='login'><br>
        Nome do usuário: <input type='text' name='nome' id='nome'> <br>
        Senha: <input type='text' name='senha' id='senha'> <br>
        Perfil: <input type='text' name='perfil' id='perfil'> <br>
        <input type='submit' value='Cadastrar'>
    </form>
    <%- include("rodape") %>